@import "global/reset";
@import "global/breakpoints";
@import "global/colors";
@import "global/typography";
@import "global/flexbox";
@import "components/navbar";


section{
  padding: 150px 10vw;

}
.service-post{
  padding: 70px 10vw;
  img{
    width: 100%;
  }
}
body {
  --bg: rgb(255, 255, 255);
  --sbg: #ecf8ff;
  --vbg: ##97CFED;
  --accent-color: #f80f80;
  --icon: yellow;
  --iconv: 0 0 15px 5px orange;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);
  --ov: #ffffff; 
  --ovText: black;
  --secondary-color:rgb(77, 64, 64);

  
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #230127;
  --sbg: rgb(10, 0, 34);
  --vbg: #1b0f0f;
  --iconv: none;
  --accent-color: #bfdaed;
  --icon: #97cfed;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
  --ov: #1b0f0f;
  --ovText: white;
  --secondary-color:white;
}



.hero-image{
    text-align:center;
    padding: 0 14%;
    @include breakpoint(md){
      padding: 0 0 0 5%;
     
     
     
      
    }
    
  }
  .hero-page{
    padding: 50px 5vw  ;  
    background-color: var(--bg); 
  
  @include breakpoint(md){
    padding: 80px 10vw ;

  }
  
  }
 
  
  .primary-button{
    padding: .5em 3em; 
    font-weight: bold;
    font-size: 20px;
    background: #FF1988;
    border-radius: 10px;  
    box-sizing: border-box;
    box-shadow: .12em .20em .12em rgba(0, 0, 0, 0.25);
    margin: 50px 0 0 0;   
    color: white;
    ;    
    font-family: $primary-font;        
    &:hover{
        background: $hover-color;     
        color: rgb(163, 160, 160);
        transition:.2s
    }
    &:active{
        box-shadow: .08em .16em .08em rgba(0, 0, 0, 0.55);
    }
    @media (min-width: 1024px) {
        font-size: 23px;
      }
  }


 .align-center{
text-align: center;
 }
  
footer{
  text-align: center;
 padding: 1em;
 background-color: var(--bg);
 font-family: $primary-font;
 p{
  padding: 0;
 }

  a{
    color: $primary-color;
    text-decoration: none;
    padding: 0;
  }
}
 
.main-card{
  background: inherit;

  border-radius: 25px;
  border: 8px solid #97CFED;
box-sizing: border-box;

  
  padding: 1rem;
  text-align: center;
 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  p{ 
    font-size: 20px;
  padding: 0 2%;    
  }
  h5{
   text-align: center;
  
  }
  
  @include breakpoint(md){
    
    width: 25vw;
  height: 470px;
  }

  
  img{
    margin: 0 0 10px 0;
    width: 20%;
    @include breakpoint(md){
      padding: 25px 0;
      width: 100px;
    }
  }
  
 
  
  }

  
.card-container{
  text-align: center;
  background: var(--bg);
 
 
}

.fix{
  padding-top: 6px;
}

.justify-center{
justify-content: center;
}
.overlay{
  position: absolute; 
  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0; 
  background: var(--ov); 
  opacity: .90;
 
}
.blog-article:hover .overlay{
  opacity: .8;
}
.blog-article{
  margin:0;
  padding: 5px;
  border: solid 5px $accent-color;
  position: relative;
   padding: 5px;
    height: 280px;  
    background-repeat: no-repeat;
     background-position: center;
  h3{
    color: var(--ovText);
    font-size: 40px;
    padding: 50px 0 0 ;
  }
  p{
    padding: 0 50px
  }
  @include breakpoint(md){
    margin:50px 10px 0px;

  }
}
.article{
  padding: 0 10%;
  margin: 0 0 100px;
  h3{
    padding-bottom: 1.5em;
    
  }

  @include breakpoint(md){
   width: 80%;
   margin: 0 auto 100px;
  }

}
.blog-date{
  padding-bottom: 1.5em ;
  font-size: 14px;
  color: $primary-color;

  @include breakpoint(md){
   width: 80%;
  
   font-size: 18px;
   
  }
}

.blog-wrap{
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 60px;
}


.reverse{
  flex-direction: column-reverse;
  @include breakpoint(md){
   flex-direction: row;
  }
}

.add-pad{
  @include breakpoint(md){
  padding: 100px 0 60px 15vw;

   }
}

.about-pad{
  @include breakpoint(md){
    padding: 0 5%;
}
}

label{
  font-family: $primary-font;
}

.social-media {
  h5{
    margin: 5%;
    @include breakpoint(md){
    margin: 0 0 5% 0;
    
       }

  }

a{
margin: 0 10px;
}

}


.social-icon{
  hover{
    fill: $accent-color;
  }
}

.form-btn{
padding: .5em 1em;
background: $primary-color;
color: white;
font-family: $primary-font;
font-weight: 700;
&:hover{
  background-color: $secondary-color;
}
}

form{
  text-align: center;
  color: var(--textNormal);
  
 
  label{
    font-family: $primary-font;
    @include breakpoint(md){
      margin-right: 1.5em;
      text-align: left;
    }
    
  }
}
.field{
  margin: 1em 0;
  text-align: left;
 
  @include breakpoint(md){

  margin: 1.5em 5em;
}
}
.blog-wrap{
  background: var(--bg);
}
.secondary-back, article, .light-back1, .blog-article{
  background: var(--bg);
}
p, h3, h4, h5, .formal{
 color: var(--textNormal);
}
.checkbox{
  width: 23px;
  height: 21px;
  background-color: #97CFED;
}

/* General container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Hide the default checkbox */
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Customize the switch appearance */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Create the checkmark/slider appearance */
.checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Create the checkmark/slider circle */
.checkmark:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Change the checkmark/slider background and position when checked */
.checkbox:checked + .checkmark {
  background-color: #2196f3;
}

.checkbox:checked + .checkmark:before {
  transform: translateX(26px);
}

/* Add hover effect */
.checkmark:hover {
  background-color: #ccc;
}

.checkbox:checked:hover + .checkmark {
  background-color: #1e88e5;
}

.banner{
  
  padding: 10%  ;  
  background-color: var(--bg); 
  h3{
    font-size: 25px;
    @include breakpoint(md){
      font-size: 35px;
    }
  }

@include breakpoint(md){
  padding: 7% 14% ;

}
}

.contact-input{
  font-family: $secondary-font;
 font-size: 25px;
 &:focus{
  border: 5px solid $active-color;
 }
 

}
.text-left{
  text-align: left;
}
.align-center{
align-items: center
}
.gap-2{
  gap: 3vw;
}
.gap-1{
  gap: 7vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.blog-post{
  img, video{
    width: 100%;
    height: 300px;
    margin: 50px 0 30px;
  }
  h4{
    text-align: left;
    font-family: $primary-font;
    font-size: 30px;
    padding: 1rem 0;
    margin: 0;
  }
  p{
    margin:0;
    padding: 0;

  }
}


